body{
    justify-content: center;
    align-items: center;
    background-color: #63c5ea;
}

.container1{
    position: relative;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container1 .cont{
    position: relative;
    max-width: 800px;
    height:620px;
    width:800px;
    background:whitesmoke;
    padding:20px 15px;
    margin:30px 10px;
    display:flex;
   flex-direction: column;
   box-shadow: 5px 5px 202px rgba(26, 26, 29, 0.6);
}

.container1 .cont .imgbx{
    position: relative;
    width: 460px;
    height: 100px;
    top:-30px;
    left:20px;
    z-index:1;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0,0.2); */
    filter: drop-shadow(6px 5px 6px rgb(18, 20, 44));
}

.container1 .cont .imgbx img{
    max-width: 100%;
}

.container1 .cont .content{
    position: relative;
    margin-top: 240px;
    padding:10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in;
    text-transform: capitalize;
}


.container1 .cont:hover .content{
    visibility: visible;
    opacity:1;
    margin-top: 156px;
    transition-delay: 0.5s ease-in;
}

table{
    width: 100%;
    border-spacing: 0px;
    border-color: black;
    margin-top: 30px;
}

td{
    text-align: center;
    padding: 2px 2px;
}

.text-left{
    text-align: left;
    text-transform: capitalize;
}

th{
    color: #111;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
}